<script server>
  const { list, remove } = require('~/dist/data/vendedores.js');
  const { allSections } = require('~/dist/utils.js');

  server.get('/', async (req, res) => {
    const vendedores = await list();
    res.render(
      self,
      {
        vendedores,
        currentUser: req.session.currentUser,
        menu: { vendedores: true },
      },
      req.isHtmx ? allSections : []
    );
  });

  server.delete('/', (req, res) => {
    console.log(req.query.id);
  });
</script>

<title id="title">La Corazón - Vendedores</title>
<h1 id="heading">Vendedores</h1>
<main id="main" class="wide">
  <table
    class="table table-striped table-hover table-bordered table-responsive table-sm"
  >
    <thead class="bg-secondary text-white border border-dark">
      <tr>
        <th>Nombre</th>
        <th>E-mail</th>
        <th class="text-center">
          <button
            hx-get="/vendedores/edit"
            hx-push-url="true"
            hx-swap="none"
            hx-indicator="#indicator"
            class="btn btn-primary action"
            title="Agregar"
          >
            <i class="bi bi-person-plus"></i> Agregar
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      {@ vendedores}
      <tr>
        <td>{= item.nombre}</td>
        <td>{= item.email}</td>
        <td class="text-center">
          <div class="btn-group btn-group-sm">
            <button
              class="btn btn-outline-info"
              title="Mostrar detalle"
              hx-get="/vendedores/ver?id={= item.id}&nombre={= item.nombre}"
              hx-push-url="true"
              hx-swap="none"
              hx-indicator="#indicator"
            >
              <i class="bi bi-eye"></i>
            </button>
            <button
              class="btn btn-outline-secondary"
              title="Modificar"
              hx-get="/vendedores/edit?id={= item.id}&nombre={= item.nombre}"
              hx-push-url="true"
              hx-swap="none"
              hx-indicator="#indicator"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-outline-danger"
              title="Borrar"
              hx-swap="none"
              hx-delete="/vendedores?id={= item.id}"
              hx-confirm="Esta seguro que quiere borrar {= item.nombre}"
              hx-indicator="#indicator"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      {/@ vendedores}
    </tbody>
  </table>
</main>
